__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.build/
dist/
.pytest_cache/
.coverage
.venv/
.vscode/
.env

# Instrucciones y archivos de ayuda
build_publish_pypi.txt

# Archivos de notebook
*.ipynb

# Logs
*.log

# Archivos de configuración temporales
*.swp
*.swo
*.bak
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de caché de tests
tests/__pycache__/
# Carpeta de caché en submódulos
aemetdata/**/__pycache__/
